/.idea

/PortfolioWeb.Domain/bin
/PortfolioWeb.Domain/obj

/PortfolioWeb.Core.Contracts/bin
/PortfolioWeb.Core.Contracts/obj

/PortfolioWeb.Core.Contracts.Tests/bin
/PortfolioWeb.Core.Contracts.Tests/obj

/PortfolioWeb.Infrastructure/bin
/PortfolioWeb.Infrastructure/obj

/PortfolioWeb.Application/bin
/PortfolioWeb.Application/obj

/PortfolioWeb.Application.Contract/bin
/PortfolioWeb.Application.Contract/obj

/PortfolioWeb.Application.Tests/bin
/PortfolioWeb.Application.Tests/obj

/PortfolioWeb.Api/bin
/PortfolioWeb.Api/obj
/PortfolioWeb.Api/appsettings.json
/PortfolioWeb.Api/appsettings.development.json

/PortfolioWeb.sln.DotSettings.user

.docker
